@if (content) {
  @if (content.template == 'statistic') {
      @if (content.toolbar) {
        <smart-toolbar #toolbar [user]="user.user" [fields]="content.toolbar" [values]="toolbarValue" (action)="execute($event)"></smart-toolbar>
      }
      <nz-row [nzGutter]="[10,10]">
        @for (item of content.fields; track item) {
          <nz-col [nzSpan]="12" [nzMd]="item.span || 8" [nzXs]="24">
            <nz-card [ngStyle]="content.bodyStyle">
              <nz-statistic
                [nzValue]="(typeof data?.[item.key] == 'number') ? (data?.[item.key] | number: item.format || '1.0-2') : (data?.[item.key] || '-')"
                [nzTitle]="item.label"
                [nzPrefix]="item.prefix"
                [nzSuffix]="item.suffix"
                (click)="item.action && execute(item.action, item)"
              ></nz-statistic>
            </nz-card>
          </nz-col>
        }
      </nz-row>
  } @else {
    模板类型应该是statistic
  }
} @else {
  <nz-skeleton />
}
